@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
/*ff7700*/
* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  cursor: url("https://sc04.alicdn.com/kf/H43fd586b4cd24f64ab601c6780067ca2c.png"), auto;
}

body {
  background: linear-gradient(to right, white 50%, #383838 50%);
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
}

div {
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 1000px;
  width: calc(100% - 4rem);
  margin: 0 auto;
}
div > * {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  padding: 2.5rem;
}

aside {
  /*background-image:*/
  /*url("https://sc04.alicdn.com/kf/H43fd586b4cd24f64ab601c6780067ca2c.png"); */
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25px 100%;
}
aside img {
  display: block;
  height: auto;
  width: 100%;
}

main {
  text-align: center;
}
main h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  color: #ff7700;
  margin-bottom: 1rem;
}
main p {
  margin-bottom: 2.5rem;
}
main p em {
  font-style: italic;
  color: #ff7700;
}
main button {
  font-family: "Bebas Neue", cursive;
  font-size: 1rem;
  color: #383838;
  border: none;
  background-color: #ff7700;
  padding: 1rem 2.5rem;
  transform: skew(-5deg);
  transition: all 0.1s ease;
}
main button:hover {
  background-color: #ff7700;
  transform: scale(1.15);
}

@media (max-width: 700px) {
  body {
    background: #383838;
    font-size: 16px;
  }

  div {
    flex-flow: column;
  }
  div > * {
    max-width: 700px;
    height: 100%;
  }

  aside {
    background-image: none;
    background-color: white;
  }
  aside img {
    max-width: 300px;
  }
}